
{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/icon.svg" "title" "Experience Expertly Hand-crafted Wines" "subtitle" "Kansas Wine Since 1991") }}

{{ partial "short-text" (dict "heading" "Kansas Wine" "text" "Smoky Hill Vineyards & Winery have proudly produced world-class wines indicative of our region of central Kansas since 1991.")}}


{{ partial "2-up" (dict "heading" "Our Selection" "description" "Here at Smoky Hill Vineyards & Winery we offer a wide selection of award winning, locally made wines, uniquely crafted to please every palette." "svg1" "/img/icon.svg" "text1" "independent farmers and farm cooperatives. We’re proud to offer a variety of coffee beans grown with great care for the environment and local communities. Check our post or contact us directly for current availability." "svg2" "/img/icon.svg" "text2" "We offer a small, but carefully curated selection of brewing gear and tools for every taste and experience level. No matter if you roast your own beans or just bought your first french press, you’ll find a gadget to fall in love with in our shop." "buttonText" "See all products" "buttonLink" "/products"  ) }}



{{ partial "text-and-image" (dict "heading" "Our Story" "text" "Smoky Hill Vineyards & Winery originated in 1991 when founders Steve Jennings and Kay Bloom hand-planted their first plants on a single acre in Salina, KS. Today, we are the largest grape producing farm winery in the state of Kansas." "buttonText" "Read more" "buttonLink" "/about") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
